
<div>
  <h3>Add Movies Playing</h3>
</div>

<form class="form-horizontal" action="index.html" method="post">
  <div class="form-group">
    <label for="movie_title" class="col-sm-1 control-label">Movie Title:</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" name="name" value=""></input>
  </div>
</div>
  Rated: <input type="text" name="rating" value="">
  Now Playing: <input type="radio" name="playing now" value="yes"> Yes
  <input type="radio" name="playing now" value="no"> No
  Coming Soon: <input type="radio" name="coming soon" value="yes"> Yes
  <input type="radio" name="coming soon" value="no"> No
  Movie ID: <input type="text" name="omdb_id" value="">
  Movie Poster: <input type="text" name="omdb_poster" value="">
  Official Trailer: <input type="text" name="youtube" value="">
  <input type="submit" name="submit" value="submit">
</form>
