{% extends "layout.html.twig" %}

{% block content %}
  <div class="movie-header">
    <h3>Add Movies Playing</h3>
  </div>

  <!-- FORM FOR NEW MOVIE CREATION -->

  <form class="form-horizontal" action="/movies" method="post">
    <div class="form-group">
      <label for="movie_title" class="col-sm-2 col-sm-offset-2 control-label">Movie Title:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="movie_name" value=""></input>
        </div>
      </div>
    <div class="form-group">
      <label for="rating" class="col-sm-2 col-sm-offset-2 control-label">Rated:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="rating" value=""></input>
        </div>
      </div>
    <div class="form-group">
      <label for="now_playing" class="col-sm-2 col-sm-offset-2 control-label">Now Playing:</label>
        <div class="col-sm-4">
          <label class="radio-inline">
            <input type="radio" class="" name="playing_now" value="1">Yes</input>
          </label>
          <label class="radio-inline">
            <input type="radio" class="" name="playing_now" value="0">No</input>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="coming_soon" class="col-sm-2 col-sm-offset-2 control-label">Coming Soon:</label>
          <div class="col-sm-4">
            <label class="radio-inline">
              <input type="radio" class="" name="upcoming" value="1">Yes</input>
            </label>
            <label class="radio-inline">
              <input type="radio" class="" name="upcoming" value="0">No</input>
            </label>
          </div>
        </div>
      <div class="form-group">
        <label for="movie_id" class="col-sm-2 col-sm-offset-2 control-label">Movie ID:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="omdb_id" value=""></input>
          </div>
        </div>
      <div class="form-group">
        <label for="movie_poster" class="col-sm-2 col-sm-offset-2 control-label">Movie Poster:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="omdb_poster" value=""></input>
          </div>
        </div>
      <div class="form-group">
        <label for="official_trailer" class="col-sm-2 col-sm-offset-2 control-label">Official Trailer:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="youtube" value=""></input>
          </div>
        </div>
      <div class="col-sm-6 control-label">
        <button class="btn btn-default" type="submit" name="submit" value="submit">Create Movie</button>
      </div>
    </form>

    <br>
    <br>
    <br>

    <!-- EDIT EXISTING MOVIES -->

    <div class="movie-header">
      <h3>Edit Movies Playing</h3>
    </div>

    <div class="col-md-7 col-sm-offset-2" id="movie-list">
      <table class="table">
        <tbody>
          <tr>
            <th class="table_head">Movie Title</th>
            <th class="table_head">Rated</th>
            <th class="table_head">Update</th>
            <th class="table_head">Remove</th>
            </tr>
              {% for movie in movies %}
            <tr>
              <td class="table_body">{{movie.movie_name}}</td>
              <td class="table_body">{{movie.rating}}</td>
                <td class="table_body">
                  <a href="/movie/{{movie.id}}/edit">Edit</a>

                </td>
                <td class="table_body">
                  <a href="/movie/{{movie.id}}/delete">Delete</a>
                </td>
                {% endfor %}
            </table>
          </div>


{% endblock %}
