{% extends 'layout.html.twig' %}

{% block content %}

<div>
  <h3>Purchase Movie Tickets</h3>
</div>
  <br>

<!-- FORM FOR NEW TICKET PURCHASE CREATION -->
<div>
  <form action="" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit">Purchase Ticket</input>
  </form>
</div>

{% endblock %}
