{% extends 'layout.html.twig' %}

{% block content %}

<div class="auditorium-header">
  <h3>Update Details for Auditorium {{viewing_room.room_number}}</h3>
</div>
<br>
<br>

<div>
  <form class="form-horizontal" action="/viewing_rooms" method="post">
    <div class="form-control">
      <input type="hidden" name="id" value="id">
    </div>
  <div class="form-group">
    <label for="auditorium" class="col-sm-2 col-sm-offset-2 control-label">Room Number:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="room_number" value=""></input>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :seating_capacity, class: "col-sm-2 col-sm-offset-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :seat_max, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-5">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>
<% end %>
</div>


{% endblock %}
