{% extends "layout.html.twig" %}

{% block content %}

  <div id="admin-head">
    <h2>Manage Theatre</h2>
  </div>

  <div class "container">
    <div class=jumbotron id="admin-panel-list">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <div class="list-group" id="admin-manage-list">
            <a href="/add_movies" class="list-group-item">Add & Edit Movies</a>
            <a href="/viewing_rooms" class="list-group-item">Add & Edit Auditoriums</a>
            <a href="/ticket_details" class="list-group-item">Add & Edit Ticket Details</a>
            <a href="/viewings" class="list-group-item">Add & Edit Viewings</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
