{% extends "layout.html.twig" %}

{% block content %}

  <div id="main-head"><h1>Historic Robin Williams Theatre</h1></div>

    <h2>Now Playing</h2>
      <section>
        <article class="main-page-movies">
          {% for movie in movies %}
            {% if movie.playing_now == true %}
              <div class="movie-posters">
                <a href="/movie/{{movie.id}}"><img src="{{movie.omdb_poster}}"></a>
              </div>
            {% endif %}
          {% endfor %}
        </article>

    <h2>Coming Soon</h2>
        <article class="main-page-movies">
          {% for movie in movies %}
            {% if movie.playing_now == false %}
              <div class="movie-posters">
                <a href="/movie/{{movie.id}}"><img src="{{movie.omdb_poster}}"></a>
              </div>
            {% endif %}
          {% endfor %}
        </article>
      </section>
    </div>


{% endblock %}
