{% extends "layout.html.twig" %}

{% block content %}

  <div id="main-head"><h1>Historic Robin Williams Theatre</h1></div>

    <h2>Now Playing</h2>
      <section>
        <article id="main-page-movies">
          <div class="movie-posters"></div>
        </article>

    <h2>Coming Soon</h2>
        <article>
          <div class=""></div>
        </article>
    </section>
  </div>

{% endblock %}
