{% extends 'layout.html.twig' %}

{% block content %}

  <div class="viewing-header">
    <h3>Viewings Set-up</h3>
  </div>
  <br>

  <div id="new-ticket-form">
    <form class="form-horizontal" action="/movie_times" method="post">

    <div class="form-group">
      <label for="auditorium" class="col-sm-2 col-sm-offset-2 control-label">Auditorium:</label>
        <div class="col-sm-5">
          <select class= "form-control">
            {% for viewing_room in viewing_rooms %}
              <option>{{viewing_room.room_number}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    <div class="form-group">
      <label for="movie" class="col-sm-2 col-sm-offset-2 control-label">Movie:</label>
        <div class="col-sm-5">
          <select class= "form-control">
            {% for movie in movies %}
              {% if movie.playing_now == true %}
                  <option>{{movie.movie_name}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    <div class="form-group">
      <label for="movie_time" class="col-sm-2 col-sm-offset-2 control-label">Movie Time:</label>
        <div class='col-sm-5'>
          <input type="view_time" class="form-control">
        </div>
      </div>
    <div class="form-group">
      <label for="movie_date" class="col-sm-2 col-sm-offset-2 control-label">Movie Date:</label>
        <div class="col-sm-5">
          <input type="view_date" class="form-control" name="">
        </div>
      </div>
    <div class="form-group">
      <div class="col-sm-offset-6 col-sm-5">
        <button class="btn btn-default" type="submit" name="submit" value="submit">Create Viewing</button>
      </div>
    </div>
  </form>
</div>


{% endblock %}
